FOUNDRY_PROJECT_ENDPOINT = "<YOUR_FOUNDRY_PROJECT_ENDPOINT>"
FOUNDRY_RESOURCE_ENDPOINT = "<YOUR_FOUNDRY_RESOURCE_ENDPOINT>"
FOUNDRY_RESOURCE_NAME = "<YOUR_FOUNDRY_RESOURCE_NAME>"
FOUNDRY_MODEL="gpt-4.1"
FOUNDRY_PROJECT_KEY = "<YOUR_FOUNDRY_PROJECT_KEY>"
STORAGE_SAS_URL="<YOUR_STORAGE_SAS_URL>"
FOUNDRY_TRANSLATE_PROJECT_ENDPOINT = "<YOUR_FOUNDRY_TRANSLATE_PROJECT_ENDPOINT>"
FOUNDRY_SPEECH_PROJECT_ENDPOINT = "<YOUR_FOUNDRY_SPEECH_PROJECT_ENDPOINT>"
FOUNDRY_SPEECH_MODEL_KEY = "<YOUR_FOUNDRY_SPEECH_MODEL_KEY>"
FOUNDRY_SPEECH_API_VERSION = "2025-01-01-preview"
FOUNDRY_SPEECH_MODEL_DEPLOYMENT = "gpt-4o-transcribe"
FOUNDRY_TEXT_TO_SPEECH_MODEL_DEPLOYMENT = "gpt-4o-mini-tts" 
FOUNDRY_OPENAI_ENDPOINT = "<YOUR_FOUNDRY_OPENAI_ENDPOINT>" 
FOUNDRY_VIDEO_OPENAI_ENDPOINT = "<YOUR_FOUNDRY_VIDEO_OPENAI_ENDPOINT>"
ANALYZER_NAME=businesscardanalyzer
 